html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрещаем скролл, чтобы телек не уезжал */
    display: flex;
    background-color: #6a2424;
}

/*1920x1080*/
.tv-body {
    display: grid;

    grid-template-rows: 10.6% 72.7%;
    grid-template-columns: 8.4% 65%;

    background: url('public/assets/tv-frame-2.png') no-repeat center center;
    background-size: contain;

    width: 100vw;          /* Занимает 95% ширины экрана */
    max-width: 1200px;    /* Но не больше реального размера ТВ */
    aspect-ratio: 975 / 618; /* Пропорции самой КАРТИНКИ телевизора */
    margin: auto;
}

#game-container {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;

    overflow: hidden;        /* Чтобы ничего не вылазило */
}

#game-container canvas {
    image-rendering: pixelated;
}