html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: #6a2424;
}

/*1920x1080*/
.tv-body {
    display: grid;

    grid-template-rows: 10.6% 72.7%;
    grid-template-columns: 8.4% 65%;

    background: url('public/assets/tv-frame-2.png') no-repeat center center;
    background-size: contain;

    width: 80vw;
    max-width: 1200px;
    aspect-ratio: 975 / 618;
    margin: auto;
}

#game-container {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#game-container canvas {
    image-rendering: pixelated;
}